<h2>Form Create Service</h2>

<%= form_for [:admin, @service] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <%= f.label :price %>
  <%= f.number_field :unit_price %> <br>
  <%= f.submit %>
<% end %>
