<div id="ShowSlideShowHere">
  <div class="container vegas-banner">
    <h1 class="title-content"><strong class="title-strong"></strong></h1>
    <h2 class="title-content-h2"></h2>
    <p class="title-content-p"></p>
  </div>

</div>
<div class="container text-center">
  <h1 id="Congnghe" style="text-align: center;margin-bottom: 10px;margin-top: 30px;font-size: 30px;">Công nghệ giặt là</h1>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="card">
        <div class="view overlay">
          <!-- <img class="card-img-top" src="../../assets/images/Layout/01.jpge" alt="Card image cap"> -->
          <%= image_tag("Layout/thietbi1.jpg", :alt => "images", class: "card-img-top") %>
        </div>
        <div class="card-body">
          <h4 class="card-title">Hệ thống máy giặt</h4>
          <h5>Công nghệ hiện đại, chương trình giăt lập trình tự động, tối đa hiệu quả giặt sạch, bảo vệ tuổi thọ và màu sắc vải.</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="card">
        <div class="view overlay">
          <!-- <img class="card-img-top" src="../../assets/images/Layout/01.jpge" alt="Card image cap"> -->
          <%= image_tag("Layout/thietbi2.jpg", :alt => "images", class: "card-img-top") %>
        </div>
        <div class="card-body">
          <h4 class="card-title">Máy pha hóa chất tự động</h4>
          <h5>Pha hóa chất thông minh tùy theo chương trình giặt giúp sản phẩm giặt đạt được tiêu chuẩn cao về độ trắng.</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="card">
        <div class="view overlay">
          <!-- <img class="card-img-top" src="../../assets/images/Layout/01.jpge" alt="Card image cap"> -->
          <%= image_tag("Layout/thietbi3.jpg", :alt => "images", class: "card-img-top") %>
        </div>
        <div class="card-body">
          <h4 class="card-title">Hệ thống máy sấy</h4>
          <h5>Sử dụng kỹ thuật vi xử lý tiên tiến, công nghệ OPTidry hiện đại giúp đồ vải không bị sấy quá khô.</h5>
        </div>
      </div>
    </div>  
  </div>
  <div class="row" style="margin-top: 30px;margin-bottom: 30px;">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="card">
        <div class="view overlay">
          <!-- <img class="card-img-top" src="../../assets/images/Layout/01.jpge" alt="Card image cap"> -->
          <%= image_tag("Layout/thietbi4.jpg", :alt => "images", class: "card-img-top") %>
        </div>
        <div class="card-body">
          <h4 class="card-title">Máy là gấp tự động</h4>
          <h5>Gấp xếp tự động được lập trình phù hợp từng kích cỡ và chất liệu.</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="card">
        <div class="view overlay">
          <!-- <img class="card-img-top" src="../../assets/images/Layout/01.jpge" alt="Card image cap"> -->
          <%= image_tag("Layout/thietbi5.jpg", :alt => "images", class: "card-img-top") %>
        </div>
        <div class="card-body">
          <h4 class="card-title">Máy là ép- Là hơi</h4>
          <h5>Điều khiển đóng mở bằng khí nén, có thể điều chỉnh lực ép.</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="card">
        <div class="view overlay">
          <!-- <img class="card-img-top" src="../../assets/images/Layout/01.jpge" alt="Card image cap"> -->
          <%= image_tag("Layout/thietbi6.jpg", :alt => "images", class: "card-img-top") %>
        </div>
        <div class="card-body">
          <h4 class="card-title">Lò hơi</h4>
          <h5>Cung cấp hơi và nước nóng sử dụng trong quá trình là hơi</h5>
        </div>
      </div>
    </div>  
  </div>
</div>
<div class="container-fluid introduce text-center service">
  <div class="row">
    <div class="col-12">
      <div class="content-introduce">
        <span class="text-uppercase font-weight-bold">TẠI SAO PHẢI GIẶT LÀ MỖI NGÀY KHI ĐÃ CÓ CLEAN LAUNDRY</span>
      </div>
      <div class="slogan">
        <span>“Mỗi người đều có 24h, nếu ai đó cho bạn thời gian của mình, thì đó là món quà quý giá nhất trên thế giới này”</span> <br>
        <span>Frank Tiger</span>
      </div>
      <div class="line"></div>
      <div>
        <p>Với chi phí thấp và dịch vụ giao nhận tận nơi <strong>NHANH CHÓNG</strong> & <strong>TIỆN LỢI</strong> <span class="text-warning">"Hoang hoang"</span>  được thành lập với sứ mệnh giải phóng con người khỏi vòng tuần hoàn của việc giặt ủi mỗi ngày, giúp bạn tiết kiệm thời gian dành cho công việc, gia đình, nhiều thời gian hơn cho việc chăm sóc bản thân khi cuộc sống ngày càng năng động và hiện đại.</p>
      </div>
      <div class="slogan-2">
        <p><span class="text-warning">“<strong>CLEAN LAUNDRY</strong>”</span><br><em>“Trao lại giây phút thảnh thơi cho bạn”</em></p>
      </div>
      <div class="button-introduce">
        <button type="button" class="btn btn-outline-warning btn-introduce">XEM NGAY</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container-fluid introduce advice">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-introduce text-center">
          <span class="text-uppercase font-weight-bold">3 LỜI KHUYÊN QUAN TRỌNG KHI MANG ĐỒ ĐẾN TIỆM GIẶT ỦI</span>
          <h6>Bạn quan tâm điều gì nhất khi mang đồ đi giặt? Sau đây là 3 lời khuyên quan trọng khi mang đồ đến tiệm giặt ủi</h6>
        </div>
        <div class="slogan">
          <span>1. Phải được giặt riêng đồ:</span><br>
        </div>
        <div class="text-advice">
          Bạn phải đảm bảo rằng quần áo của bạn sẽ được đặt vào 1 máy giặt riêng biệt chỉ dành cho bạn.
        </div>
        <div class="slogan">
          <span>2. Bột giặt và nước xả tốt:</span><br>
        </div>
        <div class="text-advice">
          <span>Bạn nên tìm hiểu xem tiệm giặt ủi mà bạn chọn sử dụng loại bột giặt gì để đảm bảo quần áo của bạn được giặt sạch mà không bị ăn mòn – mau mục – hoặc bay màu.</span>
          <span>Điều quan trọng nhất là nước xả vải phải được dùng loại tốt nhất để đảm bảo không gây kích ứng cho da và quần áo luôn mềm mại thơm tho suốt cả ngày dài.</span>
        </div>
        <div class="slogan">
          <span>3. Được giặt bằng máy giặt chuyên dụng:</span><br>
        </div>
        <div class="text-advice" style="padding-bottom:20px;">
          Cửa hàng giặt ủi chuyên nghiệp sẽ sử dụng máy giặt chuyên dụng để giặt quần áo cho bạn. Điều đó đảm bảo quần áo của bạn sẽ được giặt thật sạch và trông vẫn luôn mới như lúc ban đầu.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <div class="text-center section-title-man">
        <h2 class="text-uppercase">QUY TRÌNH DOOR TO DOOR SERVICE 4 BƯỚC</h2>
      </div>
      <div class="line"></div>
    </div>
  </div>
  <div class="row" style="padding-top: 50px">
    <div class="col-3 text-center">
      <span class="fa fa-phone text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 1</p>
        <p>Đặt dịch vụ qua hotline</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <span class="fa fa-home text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 2</p>
        <p>Báo giá dịch vụ</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <span class="fa fa-clock-o text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 3</p>
        <p>Tiếp nhận đồ giặt</p>
      </div>
    </div>
    <div class="col-3 text-center">
      <span class="fa fa-heart-o text-primary"></span>
      <div class="icon-box-text">
        <p>Bước 4</p>
        <p>Trả đồ tận tay</p>
      </div>
    </div>
  </div>
</div>
